body {
    background-image: url(https://ih1.redbubble.net/image.106520130.7160/pp,550x550.u2.jpg); 
    background-size: cover;
}
.jumbotron {
    background-size: cover;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.377);
}

#qTitle{

    color: gray;
}
.buttonOptions {
    font-family: Arial, Helvetica, sans-serif;
    width: 420px;
    height: 80px;
    color: gray;
    font-size: 18px;
}
#option1 {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
}
#option2 {
    margin-top: 20px;
    margin-bottom: 40px;
}
#option3 {
    margin-right: 40px;
    margin-bottom: 1px;
}
#option4 {
    margin-bottom: 1px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#check1, #check2, #check3, #check4, #x1, #x2, #x3, #x4 {
    display: none;
    margin-right: 8px;
}
#gameOver {
    display: none;
}
#gameOvertitle {
    color: gray;
    font-size: 44px;
    text-align: center;
    margin-bottom: 80px;
}
#displayScore {
    color: gray;
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}
#form {
    margin-left: auto;
    margin-right: auto;
    width: 329px;
    margin-bottom: 120px;
}

#circleTimer {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}
svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
